/** @format */

.orders {
  padding: 60px 30px;
}

.grid,
.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding-bottom: 12px;
  border-bottom: 1px solid hsla(180, 11%, 89%, 1);
}
.grid span:nth-child(3),
.grid2 span:nth-child(3) {
  text-align: center;
}

.grid span {
  font-weight: 500;
  font-size: 12px;
  color: hsla(180, 23%, 15%, 0.65);
}
.grid2 {
  padding: 24px 0;
}

.orderList {
  height: 400px;
  overflow: scroll;
}

.orderList::-webkit-scrollbar {
  display: none;
}

.grid2 span {
  font-weight: 600;
  font-size: 14px;
  color: hsla(180, 23%, 15%, 0.8);
}

.date {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.date label {
  font-size: 12px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.65);
}

.product {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product img {
  width: 32px;
  height: 25px;
  border-radius: 4px;
  object-fit: cover;
}
