/** @format */

.financial {
  display: grid;
  gap: 40px;
  margin: 25px;
  position: relative;
  top: 80px;
}

.financials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.financials > label {
  font-size: 20px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.createnew {
  display: flex;
  align-items: center;
  border: 0;
  background-color: hsla(180, 100%, 40%, 1);
  border-radius: 8px;
  padding: 12px 16px;
  cursor: pointer;
  gap: 8px;
  cursor: pointer;
}

.createnew > label {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter";
  color: white;
  cursor: pointer;
}

.financialcontainer {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.financialcontainer div {
  font-weight: 500;
  cursor: pointer;
  color: hsla(180, 23%, 15%, 1);
  background: url("../elements/bg.png") no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.quote {
  background: linear-gradient(
    180deg,
    hsla(0, 56%, 96%, 1),
    hsla(245, 92%, 91%, 1)
  );
  width: 260px;
  height: 220px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invoice {
  background: linear-gradient(
    180deg,
    hsla(30, 89%, 96%, 1),
    hsla(282, 70%, 94%, 1)
  );
  width: 260px;
  height: 220px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.receipt {
  background: linear-gradient(
    180deg,
    hsla(245, 92%, 91%, 1),
    hsla(0, 56%, 96%, 1)
  );
  width: 260px;
  height: 220px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lists {
  padding: 16px 54px;
  margin: 0;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0px 4px 7px 4px rgba(2, 3, 3, 0.04);
  border-radius: 4px;
  color: hsla(180, 23%, 15%, 1);
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  list-style: none;
  margin-top: 175px;
}
