/** @format */

.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.create {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.create > div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.create > div span {
  color: hsla(180, 23%, 15%, 1);
  font-size: 16px;
  font-weight: 500;
}

.create > span {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: hsla(180, 23%, 15%, 0.65);
  font-family: "Inter";
}

.pricingtimebased {
  display: flex;
  flex-direction: column;
  gap: 16px;

  /* padding: 24px; */
  font-size: 18px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.inputtime {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.warning {
  display: grid;
  gap: 12px;
  border-radius: 8px;
  font-size: 12px;
  padding: 12px;
  font-weight: 500;
  background-color: hsla(197, 100%, 11%, 1);
  color: hsla(198, 100%, 96%, 1);
}

.firstwarning,
.secondwarning {
  display: flex;
  align-items: center;
  gap: 8px;
}
.time {
  display: grid;
  gap: 24px;
}
.timegrid {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inpersonvirtual {
  gap: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}
.inpersonvirtual2 {
  gap: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.inpersonvirtual2 span {
  text-align: center;
}

.min,
.del {
  visibility: hidden;
}

.inpersonvirtual > svg {
  margin-top: 40px;
}

.timecontainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputtimecontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 16px;
}

.selectday {
  display: flex;
  align-items: center;
  gap: 4px;
}

.selectday label {
  font-size: 16px;
  font-family: "Inter";
  color: hsla(180, 23%, 15%, 1);
  font-weight: 400;
}

.buttonmins {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.65);
}

.buttontimer {
  padding: 14px 58px 14px 8px;
  border-radius: 16px;
  border: 1px solid hsla(180, 5%, 26%, 1);
  background-color: white;
}

.buttontimer > div {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.nairavirtualinperson {
  display: flex;
  align-items: center;
  gap: 16px;
}
.nairavirtual > input,
.nairainperson > input {
  background-color: white;
  width: 100px;
  padding: 14px 14px 14px 8px;
  border-radius: 16px;
  border: 1px solid hsla(180, 5%, 26%, 1);
}

.nairavirtual > input::placeholder,
.nairainperson > input::placeholder {
  color: hsla(180, 2%, 74%, 0.8);
  font-weight: 300;
}

.timecontainer p {
  margin: 0;
  font-size: 12px;
  color: hsla(0, 69%, 49%, 1);
  margin-top: -10px;
}

.inpersonvirtual > svg {
  margin-top: 40px;
}

.addtimeslot {
  display: grid;
  gap: 24px;
}
.addtimebutton {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 1);
  background-color: white;
  border: 0;
}
.next {
  float: right;
  border: 0;
  padding: 12px 51px;
  border-radius: 8px;
  background-color: hsla(180, 100%, 40%, 1);
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.next:hover {
  background-color: hsla(180, 100%, 36%, 1);
}

.next:disabled,
.donetime:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.buttonmins > input {
  width: 25px;
  border: 1px solid hsla(180, 5%, 26%, 1);
}
