/** @format */

.brand {
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  padding: 8px;
  color: hsla(180, 23%, 15%, 1);
  gap: 24px;
}

.brand img {
  width: 35px;
}

.brand div {
  display: flex;
  align-items: center;
  gap: 32px;
}
