/** @format */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 80px;
  background-color: white;
  box-shadow: 0px 4px 7px 0px hsla(180, 20%, 1%, 0.03);
  border-bottom: 2px solid hsla(180, 11%, 89%, 1); /* Matches your design's border color */
  padding: 16px 24px; /* Adjust padding as needed */
}

.list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.list li {
  padding: 8px 16px;
  cursor: pointer;
}

.list li:hover {
  background-color: hsla(180, 17%, 98%, 1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 48px;
  height: 48px;
  border-radius: 50px;
}

.logo span {
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}
