/** @format */

.quotes {
  display: grid;
  gap: 40px;
  margin: 25px;
  position: relative;
  top: 80px;
}

.createquote {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quotesvg {
  display: flex;
  align-items: center;
  gap: 8px;
}

.quotesvg > label {
  font-size: 20px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.quotecontainer {
  background-color: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.float {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: end;
}

.quotestatus {
  display: flex;
  border: 1px solid hsla(180, 23%, 15%, 0.65);
  padding: 4px 4px 3px 4px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 0.65);
}

.sent {
  padding: 8px 24px;
}

.sent:hover,
.draft:hover {
  padding: 8px 24px;
  background-color: hsla(197, 100%, 11%, 1);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.draft {
  padding: 8px 24px;
  /* background-color: hsla(197, 100%, 11%, 1); */
  border-radius: 8px;
}

.quoteday {
  display: flex;
  align-items: center;
  gap: 64px;
  border: 1px solid hsla(180, 23%, 15%, 0.65);
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 0.65);
}

.cardline hr,
.transactionline hr {
  border: 1px solid hsla(180, 11%, 89%, 1);
}

.statuscontainer,
.transactionstatus {
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: 12px;
  font-weight: 500;
  gap: 105px;
  color: hsla(180, 23%, 15%, 0.65);
}

.transactionstatus {
  gap: 90px;
  padding: 16px 24px;
}

.transactionstatus svg {
  margin-left: 80px;
}

.transactionid,
.transactionname,
.transactiondate,
.transactionamount {
  font-size: 14px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 0.8);
}

.transactionline ul {
  padding: 16px;
  margin: 0;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0px 4px 7px 4px rgba(2, 3, 3, 0.04);
  border-radius: 4px;
  color: hsla(180, 23%, 15%, 1);
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  list-style: none;
  margin-top: 30px;
}

.transactionline ul li {
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 1.3s;
}
