/** @format */

.projectbasedcontainer {
  display: grid;
  gap: 24px;
  margin: 25px;
  position: relative;
  top: 60px;
}

.projectbasedback {
  display: flex;
  align-items: center;
  background-color: rgba(248, 250, 250, 1);
  border: 0;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}
.projectbasedgrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: white;
  padding: 24px;
  gap: 32px;
  border-radius: 16px;
}

.createproject {
  padding: 24px 24px 38px 24px;
  border-radius: 16px;
  background-color: white;
  display: flex;
  height: fit-content;
  flex-direction: column;
  gap: 32px;
}

.createservice {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 600;
  color: hsla(197, 100%, 11%, 1);
}

.img {
  width: 400px;
  border-radius: 8px;
  height: 340px;
}

.choose {
  /* position: absolute; */
  margin-top: -75px;
  margin-left: 220px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: end;
}
.photo {
  display: none;
}

.gallery {
  background-color: hsla(0, 0%, 27%, 0.74);
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  width: fit-content;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.project {
  display: grid;
  gap: 32px;
}

.projectservice {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 12px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.projectservice > input {
  padding: 16px 24px;
  border-radius: 16px;
  border: 1.5px solid hsla(180, 11%, 89%, 1);
}

.projectdescription {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 12px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.projectdescription > textarea {
  height: 196px !important;
  width: -webkit-fill-available !important;
  border-radius: 16px;
  padding: 12px 24px;
  border: 1.5px solid hsla(180, 11%, 89%, 1);
}

.span {
  margin-top: -40px;
  font-size: 14px;
  text-align: end;
  color: hsla(180, 23%, 15%, 0.8);
}

.pricingproject {
  display: grid;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.nigeriaprice {
  display: flex;
  gap: 24px;
}

.nigeriaprice button {
  width: 136px;
  height: 56px;
  border-radius: 16px;
  border: 1px solid hsla(180, 11%, 89%, 1);
  background-color: white;
  padding: 16px;
}

.nigeriadown {
  display: flex;
  gap: 4px;
}

.ngndown {
  display: flex;
  gap: 24px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.nigeriaprice input {
  padding: 16px 24px;
  width: -webkit-fill-available;
  border-radius: 16px;
  border: 1px solid hsla(180, 11%, 89%, 1);
}

.choosedaytime {
  border-radius: 16px;
  background-color: white;
}

.reschedulebook {
  border: 0;
  background-color: white;
  font-size: 16px;
  font-family: "Inter";
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
  padding: 24px 12px;
}

.inputtime {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.warning {
  display: grid;
  gap: 12px;
  border-radius: 8px;
  font-size: 12px;
  padding: 12px;
  font-weight: 500;
  background-color: hsla(197, 100%, 11%, 1);
  color: hsla(198, 100%, 96%, 1);
}

.firstwarning {
  display: flex;
  align-items: center;
  gap: 8px;
}
.done {
  display: flex;
  justify-content: end;
  gap: 24px;
  margin-top: 20px;
}

.canceltime,
.donetime {
  padding: 12px 43px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid hsla(180, 11%, 89%, 1);
  font-weight: 400;
  font-size: 16px;
  color: hsla(180, 23%, 15%, 0.8);
}

.donetime {
  background-color: hsla(180, 100%, 40%, 1);
  color: white;
}

.donetime:hover {
  background-color: hsla(180, 100%, 36%, 1);
}
.time {
  display: grid;
  gap: 32px;
}

.deliverytime {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.delivery {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.delivery label {
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.delivery span {
  font-size: 12px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.8);
}

.date {
  padding: 16px 24px;
  border: 1.5px solid hsla(180, 11%, 89%, 1);
  border-radius: 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.65);
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.donetime:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.dropdownList {
  margin: 0;
  position: absolute;
  width: -webkit-fill-available;
  margin-top: 115px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: white;
  box-shadow: 0px 4px 7px hsla(0, 0%, 0%, 0.06);
  border-radius: 8px;
  padding: 16px 24px;
  z-index: 1;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.dropdownList li {
  cursor: pointer;
}
