/** @format */

.createeventservice {
  padding: 24px;
  background-color: white;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 32px;
}
.createtimebased {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.createtimeservice {
  font-size: 20px;
  font-weight: 600;
  color: hsla(197, 100%, 11%, 1);
}
