/** @format */

.reviewprofile {
  display: grid;
  gap: 16px;
  margin: 20px;
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 7px 0px rgba(2, 3, 3, 0.05);
  position: relative;
  top: 70px;
  height: 185px;
}

.svgreview {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.svg {
  display: flex;
  gap: 12px;
}

.svg svg {
  width: 5px;
}

.svg:hover {
  cursor: pointer;
}

.image {
  position: relative;
  display: inline-block;
}

.img {
  display: block;
  width: 270px;
}
.scan {
  /* display: none; */
  width: 270px;
}

.image:hover .img {
  display: none;
}

.image:hover .scan {
  display: block;
  cursor: pointer;
}

.nameprofile {
  display: grid;
  gap: 8px;
  margin-top: -90px;
}

.name {
  font-size: 20px;
  font-weight: 600;
  color: rgba(29, 46, 46, 1);
  margin-left: 300px;
}

.professional {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profspec {
  font-size: 12px;
  margin-left: 300px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.britnext {
  float: right;
}

.imagebrit {
  font-size: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.imagebrit img {
  height: 24px;
}

.loremicon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.lorem {
  color: rgba(4, 104, 219, 1);
  font-size: 12px;
  font-weight: 400;
  margin-left: 300px;
}

.copy:hover {
  cursor: pointer;
}

/*about and detail container*/
.aboutdetails {
  display: grid;
  top: 70px;
  position: relative;
  gap: 24px;
}

.education {
  padding: 24px 40px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.edu {
  font-weight: 600;
  font-size: 20px;
  color: hsla(180, 23%, 15%, 1);
}

.capeducate {
  display: flex;
  gap: 16px;
}

.university {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.uni {
  font-size: 18px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.bsc {
  font-weight: 400;
  color: hsla(180, 23%, 15%, 1);
}

.year {
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.8);
}

.certificate {
  padding: 8px 36px;
  border-radius: 32px;
  border: 1px solid hsla(180, 23%, 15%, 0.8);
  background-color: white;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter";
}
