/** @format */

.event {
  display: grid;
  gap: 24px;
  margin: 25px;
  position: relative;
  top: 60px;
}

.time {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: hsla(180, 9%, 32%, 1);
}

.createeventservice {
  padding: 24px;
  background-color: white;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 32px;
}

.createeventservice img {
  border-radius: 16px;
  width: 494px;
  height: 390px;
}

.createtimebased {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.createtimeservice {
  font-size: 20px;
  font-weight: 600;
  color: hsla(197, 100%, 11%, 1);
}

.eventtype {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.eventcheckbox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.checkvirtual,
.checkinperson {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.backEvent {
  background-color: #fff;
  border: 0;
  font-size: 20px;
}

.startendtime {
  display: flex;
  justify-content: center;
  gap: 90x;
  margin-left: 20px;
}

.timeservice {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 12px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.timeservice > input {
  padding: 16px 24px;
  border-radius: 16px;
  border: 1.5px solid hsla(180, 11%, 89%, 1);
}

.timedescription {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 12px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.timedescription > textarea {
  height: 196px !important;
  width: -webkit-fill-available !important;
  border-radius: 16px;
  padding: 12px 24px;
  border: 1.5px solid hsla(180, 11%, 89%, 1);
}
.daycheckedcontainer {
  display: grid;
  gap: 24px;
}

.nairavirtualinperson {
  display: flex;
  align-items: center;
  gap: 16px;
}
.inputtimecontainer {
  display: flex;
  gap: 16px;
  align-items: center;
}

.nairavirtual > input,
.nairainperson > input {
  background-color: white;
  width: 100px;
  padding: 14px 14px 14px 8px;
  border-radius: 16px;
  border: 1px solid hsla(180, 5%, 26%, 1);
}

.inpersonvirtual > svg {
  margin-top: 40px;
}
.addtimebutton {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 1);
  background-color: white;
  border: 0;
}

.checkbox {
  padding: 0;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid hsla(180, 11%, 89%, 1);
  width: 20px;
  border-radius: 4px;
  height: 20px;
  cursor: pointer;
}
.box {
  width: 15px;
  height: 15px;
}

.checkbox:checked {
  background-color: hsla(180, 100%, 40%, 1);
  border: 0;
}

.checkbox::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: 2px solid transparent;
  border-left: none;
  border-top: none;
  transform: rotate(45deg) scale(1);
}

.checkbox:checked::before {
  border-color: white;
}

input:checked + .toggle {
  background-color: hsla(180, 100%, 40%, 1);
}
input:checked + .toggle::before {
  transform: translateX(13px);
}
