/** @format */

.contact {
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
}

.contacts div {
  display: flex;
  align-items: center;
}
