/** @format */

.settings {
  display: grid;
  margin: 25px;
  gap: 24px;
  position: relative;
  top: 80px;
}

.settings > label {
  font-size: 20px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}
.settingscontainer {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0px 4px 7px 0px rgba(2, 3, 3, 0.04);
}

.settingsfirst {
  display: grid;
  gap: 24px;
  background-color: white;
  box-shadow: 0px 4px 7px 0px rgba(2, 3, 3, 0.04);
  border-radius: 16px;
  height: 700px;
}

.settingsfirst > div {
  display: flex;
  flex-direction: column;
}
.settingsfirst span {
  padding: 16px 24px;
  /* border-bottom: 1px solid hsla(180, 11%, 89%, 1); */
  color: hsla(180, 23%, 15%, 0.8);
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.settingsfirst span:hover {
  background-color: hsla(180, 11%, 89%, 1);
}

.withdraw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  color: hsla(180, 23%, 15%, 0.8);
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.withdrawul {
  border-bottom: 1px solid hsla(180, 11%, 89%, 1);
}

.withdrawul > ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.65);
  padding: 0px 16px;
}

.withdrawul > ul li {
  cursor: pointer;
  padding: 8px;
}

.withdrawul > ul li:hover {
  background-color: hsla(180, 11%, 89%, 1);
}

.settingssecond {
  display: grid;
  gap: 24px;
}

/*Password change styling*/

.editprofileabout {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px 24px;
  background-color: white;
  box-shadow: 0px 4px 7px 0px rgba(2, 3, 3, 0.04);
  border-radius: 16px;
}

.editprofileabout span {
  font-size: 16px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}
.editprofileabout label {
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.password {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.password > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.password > div input {
  width: -webkit-fill-available;
  border-radius: 16px;
  border: 1.5px solid hsla(180, 11%, 89%, 1);
  padding: 16px 24px;
  cursor: pointer;
}

.password p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.editinput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.canceltime,
.donetime {
  padding: 12px 43px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid hsla(180, 11%, 89%, 1);
  font-weight: 400;
  font-size: 16px;
  background-color: hsla(0, 0%, 98%, 1);
  color: hsla(180, 23%, 15%, 0.8);
}

.donetime {
  background-color: hsla(180, 100%, 40%, 1);
  color: white;
}

.donetime:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.canceldone {
  display: flex;
  justify-content: end;
  gap: 24px;
}

/*Bank accoint styling*/
.bank {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  background-color: white;
  box-shadow: 0px 4px 7px 0px rgba(2, 3, 3, 0.04);
  border-radius: 16px;
  gap: 24px;
}

.bank2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bank2 svg:hover {
  background-color: hsla(180, 100%, 36%, 1);
  fill: white;
  color: white;
}

.savedBanks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bankCard {
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid hsla(180, 11%, 89%, 1);
  padding: 16px 0;
}

.bankCard div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.savedBanks div label {
  font-size: 16px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.savedBanks div span {
  font-size: 12px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.bank > label {
  font-size: 16px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.bank svg:hover {
  fill: hsla(180, 100%, 36%, 1);
}
/*Notification styling*/

input:checked + .toggle {
  background-color: hsla(180, 100%, 40%, 1);
}
input:checked + .toggle::before {
  transform: translateX(13px);
}
.suspend {
  display: flex;
  justify-content: space-between;
}

.suspenddiv {
  display: flex;
  align-items: center;
  gap: 16px;
}
.togglebutton {
  display: grid;
}

.toggle {
  background-color: #d2d2d2;
  width: 32px;
  height: 18px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: 0.4s;
}
.toggle::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 14px;
  height: 14px;
  border-radius: 200px;
  margin: 2px;
  transition: 0.4s;
}

.label {
  font-size: 14px;
  font-weight: 600 !important;
  color: hsla(180, 23%, 15%, 0.8);
}

/*Delete styling*/

.p {
  font-size: 14px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.8);
  margin: 0;
}

/*Bank Details*/

.account {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 16px;
  z-index: 1001;
  display: grid;
  gap: 32px;
  width: 548px;
}

.bankcontainer {
  display: grid;
  gap: 32px;
}

.accountcontainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.accountcontainer span {
  font-size: 18px;
  font-weight: 500;

  color: hsla(197, 100%, 11%, 1);
}

.accountcontainer label {
  font-size: 16px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.65);
}

.inputbank {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputbank span {
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.inputbank input {
  padding: 16px 24px;
  background-color: white;
  border-radius: 16px;
  border: 1.5px solid hsla(180, 11%, 89%, 1);
}

.selectbank {
  padding: 16px 24px;
  background-color: white;
  border-radius: 16px;
  border: 1.5px solid hsla(180, 11%, 89%, 1);
}
.banktext {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*Delete Account*/
.whydelete {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.whydelete textarea {
  width: 478px !important;
  height: 56px !important;
}

.checkdelete {
  display: flex;
  align-items: center;
  gap: 4px;
}

.checkdelete label {
  font-size: 14px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 1);
}

.checkbox {
  padding: 0;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  border: 1.5px solid hsla(180, 23%, 15%, 1);
  width: 20px;
  border-radius: 4px;
  height: 20px;
  cursor: pointer;
}

.checkbox:checked {
  background-color: hsla(180, 100%, 40%, 1);
  border: 0;
}

.checkbox::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: 2px solid transparent;
  border-left: none;
  border-top: none;
  transform: rotate(45deg) scale(1);
}

.checkbox:checked::before {
  border-color: white;
}

input:checked + .toggle {
  background-color: hsla(180, 100%, 40%, 1);
}
input:checked + .toggle::before {
  transform: translateX(13px);
}

.delete {
  padding: 12px 43px;
  height: 48px;
  border-radius: 8px;
  border: 0;
  font-weight: 400;
  font-size: 16px;
  background-color: hsla(0, 69%, 49%, 1);
  color: white;
}

.package {
  font-size: 12px;
}
