/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  background-color: rgba(248, 250, 250, 1);
  font-family: "Inter";
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

.profiledashboard {
  position: absolute;
  left: 290px;
  width: -webkit-fill-available;
}

.profile-details {
  transition: opacity 0.4s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

input,
textarea {
  font-family: "Inter";
  font-size: 14px;
  color: hsla(197, 100%, 11%, 1);
}

textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
  font-family: "Inter";
}

input:focus {
  outline: none;
}

hr {
  margin: 0;
}

svg {
  cursor: pointer;
}

textarea {
  margin-bottom: 20px;
}

.retainer,
.program,
.event,
.bookings,
.transaction,
.time-based-container,
.project-based-container {
  display: grid;
  gap: 24px;
  margin: 25px;
  position: relative;
  top: 60px;
}

/*Sidebar and Profile styling*/
.grid-container {
  display: grid;

  grid-template-columns: 1fr 13fr;
}
.profiledropdown {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;

  z-index: 1000;
}

.overlaydropdown {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 1.3s;
}

.add-service {
  display: flex;
  align-items: center;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter";
  border-bottom: 1.5px solid hsla(180, 100%, 40%, 1);
  background-color: hsla(180, 100%, 40%, 1);
  padding: 12px 16px;
  border-radius: 8px;
}

.addservice {
  color: hsla(180, 100%, 96%, 1);
}

.type-of-service {
  background-color: white;
  padding: 24px 16px 12px 16px;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 1000;
  flex-direction: column;
  gap: 12px;
  border-radius: 8px;
  top: 145px;
  right: 20px;
}

.type-of-service > ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  color: hsla(180, 23%, 15%, 1);
}

.dropdown-service > li {
  padding: 12px 120px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 1);
}

.dropdown-service > li:hover {
  background-color: hsla(180, 17%, 98%, 1);
  border-radius: 8px;
}

.alltime-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.alltime {
  width: 125px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsla(180, 23%, 15%, 0.8);
  padding: 8px 16px;
  border: 1px solid hsla(180, 11%, 89%, 1);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}

.oneoff-service {
  padding: 12px 120px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 1);
}

.oneoff-service:hover {
  background-color: hsla(180, 17%, 98%, 1);
  border-radius: 8px;
}

.alltime-container {
  padding: 12px 12px 12px 16px;
  font-weight: 400;
  font-size: 16px;
}

.alltime-container:hover {
  background-color: hsla(180, 17%, 98%, 1);
  border-radius: 8px;
}

.time-project-service {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.time-based,
.project-based {
  border: 1px solid hsla(180, 11%, 89%, 1);
  background-color: white;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
  padding: 12px;
  color: hsla(180, 23%, 15%, 1);
}

.time-based:hover,
.project-based:hover {
  background-color: hsla(180, 17%, 98%, 1);
}

.retainerservice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eachretainercontainer,
.eachprogramcontainer,
.eacheventcontainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}

.retainercontainer {
  display: flex;
  width: -webkit-fill-available;
  gap: 24px;
  padding: 24px 0px 24px 24px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 7px 0px rgba(2, 3, 3, 0.05);
}

.retainercontainer:hover {
  background-color: hsla(180, 12%, 95%, 1);
  cursor: pointer;
}

.content-type1 {
  display: grid;
  gap: 48px;
}

.personal1 {
  font-size: 16px;
  font-weight: 700;
  color: hsla(180, 100%, 40%, 1);
}

.textvector {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.textvector1 {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.overallvector {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.vectordata {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;

  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.vectorretainer {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: hsla(180, 100%, 36%, 1);
}

.bookingcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}

.bookcontainer {
  display: grid;
  padding: 24px;
  gap: 48px;
  background-color: white;
  width: -webkit-fill-available;
  box-shadow: 0px 4px 7px 0px rgba(2, 3, 3, 0.04);
  border-radius: 8px;
}

.detailscontainer {
  display: grid;
  gap: 48px;
}
.imagesvg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagecontainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.circlename {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background-color: hsla(180, 100%, 40%, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.namebook {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.datetitle {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.titleservice {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cancel-title {
  display: grid;
  place-items: center;
}

.cancel-container {
  display: grid;
  gap: 48px;
}

.cancel-image-share {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cancel-text-share {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cancel-text-share > span {
  font-size: 24px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.cancel-text-share > label {
  font-size: 16px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.8);
}

.cancel-share {
  display: flex;
  gap: 24px;
}

.cancel-share-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-direction: column;
  width: 150px;
  height: 120px;
  border-radius: 24px;
  border: 1px solid hsla(180, 11%, 89%, 1);
  font-size: 14px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 1);
  cursor: pointer;
}

.cancel-container > p {
  width: 461px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 1);
}

.reason-for-cancelling {
  display: flex;

  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.reason-for-cancelling > textarea {
  width: 461px;
  border-radius: 16px;
  border: 1px solid hsla(180, 11%, 89%, 1);
  height: 88px;
}

.do-cancel-container {
  display: flex;
  justify-content: space-between;
}

.do-not-cancel {
  padding: 12px 28px;
  border-radius: 16px;
  background-color: white;
  color: hsla(180, 23%, 15%, 1);
  border: 1px solid hsla(180, 23%, 15%, 1);
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter";
}

.do-cancel {
  padding: 12px 53px;
  border-radius: 16px;
  background-color: hsla(0, 69%, 49%, 1);
  color: hsla(198, 100%, 96%, 1);
  border: 0;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter";
}

.timehour {
  display: flex;
  justify-content: space-between;
}

.bookingname {
  font-size: 14px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 0.8);
}

.imagebookedyou {
  display: flex;
  gap: 12px;
}

.bookedyou {
  font-size: 12px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.45);
}

.status {
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  color: hsla(37, 96%, 61%, 1);
}

.date {
  font-weight: 500;
  font-size: 14px;
  color: hsla(180, 23%, 15%, 1);
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 0.8);
}

.dateam {
  font-size: 14px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 1);
}

.bookingdetails {
  color: hsla(180, 23%, 15%, 0.8);
  width: 286px;
}
.timer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hour {
  font-size: 14px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.65);
}

.seemoreline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seemore {
  padding: 16px;
  background-color: white;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  color: hsla(180, 100%, 40%, 1);
  font-family: "Inter";
  border-top: 1px solid hsla(180, 11%, 89%, 1);
  width: -webkit-fill-available;
}

.seemore:hover {
  border: 1.5px solid;
  border-radius: 16px;
  width: -webkit-fill-available;
  cursor: pointer;
}

.see {
  display: grid;
  gap: 24px;
}

.seedetails {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 24px;
}

.seemorecontainer,
.reschedule {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: white;
  box-shadow: 0px 4px 7px 0px rgba(2, 3, 3, 0.04);
  border-radius: 8px;
  padding: 24px 24px 38px 24px;
}

.reschedule {
  padding: 0;
}

.reschedulebooking {
  display: grid;
  gap: 48px;
}

.former-reschedule {
  display: grid;
  gap: 24px;
}

.linereschedule {
  display: flex;
  flex-direction: column;
}

.linereschedule > hr {
  margin: 0;
  border: 1px solid hsla(180, 11%, 89%, 1);
}

.reschedulebook {
  border: 0;
  background-color: white;
  font-size: 16px;
  font-family: "Inter";
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
  padding: 24px 12px;
}

.formerschedule {
  display: grid;
  gap: 24px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.formerschedule > label {
  padding: 0px 12px;
}

.formerschedule > hr {
  width: -webkit-fill-available;
  margin: 0;
  border: 1px solid hsla(180, 11%, 89%, 1);
}

.date-time {
  display: flex;
  justify-content: space-between;
  padding: 0px 12px;
}

.svg-date,
.svg-time {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  /* width: 150px; */
  color: hsla(180, 23%, 15%, 0.8);
  font-weight: 400;
}

.appointmentcon {
  display: grid;
  gap: 32px;
}

.appointmentdetails {
  display: grid;
  gap: 32px;
}

.appointment {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bookingtitle {
  display: grid;
  gap: 48px;
}

.dateseeless {
  display: grid;
  gap: 24px;
}

.p {
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.8);
  margin-bottom: 0px;
  font-size: 14px;
}

.label > span {
  color: hsla(180, 23%, 15%, 0.8);
}

.appointmentdate {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reschedulecontent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.reschedule-cancel {
  display: grid;
  gap: 24px;
  padding: 0px 12px;
}

.rescheduletext,
.cancel,
.rescheduletext2,
.cancel2 {
  display: flex;
  align-items: center;
  gap: 24px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
  background-color: white;
  border: 0;
  font-size: 16px;
  font-family: "Inter";
}

.rescheduletext > svg:hover,
.cancel > .svg:hover {
  color: hsla(180, 100%, 40%, 1);
}

.rescheduletext:hover,
.cancel:hover {
  border: 1.5px solid hsla(180, 100%, 40%, 1);
  color: hsla(180, 100%, 40%, 1);
  padding: 16px 24px 16px 0px;
  border-radius: 16px;
  width: -webkit-fill-available;
  cursor: pointer;
}

.rescheduletext2:hover,
.cancel2:hover {
  color: hsla(180, 100%, 40%, 1);
}

.fullcalendar {
  display: grid;
  gap: 24px;
  padding: 0px 24px;
}

.select {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.calendar {
  margin: 20px auto;
  overflow: hidden;
  display: grid;
  gap: 16px;
  font-family: "Inter";
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsla(180, 23%, 15%, 1);
}

.header > svg {
  cursor: pointer;
}

.day-names,
.days {
  display: flex;
  flex-wrap: wrap;
}

.day-name,
.day,
.empty-day {
  width: 14.28%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.day {
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  transform: background-color 0.3s;
}

.day:hover {
  background-color: hsla(180, 100%, 40%, 1);
  color: white;
}

.selected {
  background-color: hsla(180, 100%, 40%, 1);
  color: white;
}

.popupcancel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.overlay,
.overlayshare {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 1.3s;
}

.body-modal,
.sharedropdown,
.withdrawpin,
.bookingsopen {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 16px;
  z-index: 1001;
  display: grid;
  gap: 32px;
}

.withdrawpin {
  width: 509px;

  transition: 0.6s ease-in-out;
}

.sharedropdown {
  width: 720px;
}

.cancel-booking-line {
  display: grid;
  gap: 24px;
}

.cancel-booking-line > hr {
  width: -webkit-fill-available;
  border: 1px solid hsla(180, 11%, 89%, 1);
}

.cancel-booking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: hsla(197, 100%, 11%, 1);
}

.time-selection-container {
  display: grid;
  place-items: center;
}

/* TimeButtons.css */

.button-container {
  margin: 10px 0;
}

.button-time {
  width: 280px;
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid hsla(180, 23%, 15%, 0.65);
  font-family: "Inter";
  background-color: white;
}

.button-time.active {
  width: 170px;
  border: 1px solid hsla(180, 100%, 36%, 1);
  color: hsla(180, 100%, 36%, 1);
}

.button-next {
  margin-left: 10px;
  display: none;
}

.button-next.show {
  display: inline-block;
  margin-left: 5px;
  padding: 16px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  width: 105px;
  background-color: hsla(197, 100%, 11%, 1);
  color: white;
  font-family: "Inter";
}

.selected-date-container {
  display: grid;
  place-items: center;
  gap: 24px;
}

.change-date {
  display: flex;
  align-items: center;
  gap: 16px;
}

.formatted-date {
  font-size: 16px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.8);
}

.updated {
  color: hsla(180, 23%, 15%, 1);
  /* width: 122px; */
}

.change {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  color: hsla(180, 100%, 36%, 1);
  border: 0;
  background-color: white;
  padding: 0;
}

.cg {
  font-size: 14px;
}

.select-time {
  font-size: 18px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.duration {
  font-size: 16px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.8);
}

.update-schedule-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: -24px;
  padding: 0px 12px;
}

.update-schedule {
  display: flex;
  gap: 16px;
}

.reason-for-change {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.reason-for-change > textarea {
  border-radius: 16px;
  border: 1px solid hsla(180, 11%, 89%, 1);
  height: 88px;
}

.updatebutton {
  display: grid;
  place-items: center;
}

.updatebutton > button {
  background-color: hsla(197, 100%, 11%, 1);
  color: hsla(198, 100%, 96%, 1);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  border: 0;
  padding: 12px 72px;
  border-radius: 16px;
}

.time-based-grid-container,
.project-based-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.create-time-based,
.create-project-based {
  padding: 24px 24px 38px 24px;
  border-radius: 16px;
  background-color: white;
  display: flex;
  height: fit-content;
  flex-direction: column;
  gap: 32px;
}

.program-calendar {
  display: grid;
  gap: 24px;
}
.start-calendar {
  display: grid;
  gap: 16px;
}

.start-end-date {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.input-calendar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.input-calendar input {
  padding: 8px;
  border-radius: 16px;
  border: 1px solid hsla(180, 11%, 89%, 1);
}

.program-recurrence,
.no_of_participant {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.program-recurrence button {
  height: 56px;
  padding: 16px 24px;
  border-radius: 16px;
  border: 1.5px solid hsla(180, 11%, 89%, 1);
  background-color: white;
}

.participant {
  width: 170px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid hsla(180, 23%, 15%, 0.65);
}

.time-choose-daytime,
.project-choose-daytime {
  border-radius: 16px;
  background-color: white;
}

.time-based-back,
.project-based-back {
  display: flex;
  align-items: center;
  background-color: rgba(248, 250, 250, 1);
  border: 0;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.create-time-service,
.create-project-service {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 600;
  color: hsla(197, 100%, 11%, 1);
}

.time-service-description,
.project-service-description {
  display: grid;
  gap: 32px;
}

.time-service,
.project-service {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 12px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.time-service > input,
.project-service > input {
  padding: 16px 24px;
  border-radius: 16px;
  border: 1.5px solid hsla(180, 11%, 89%, 1);
}

.time-description,
.project-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 12px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.time-description > textarea,
.project-description > textarea {
  height: 196px !important;
  width: -webkit-fill-available !important;
  border-radius: 16px;
  padding: 12px 24px;
  border: 1.5px solid hsla(180, 11%, 89%, 1);
}

.pricing-time-based {
  padding: 24px;
  font-size: 18px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.time-choose-daytime > hr {
  margin: 0;
  border: 1px solid hsla(180, 11%, 89%, 1);
}

.input-time {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.warning-container {
  display: grid;
  gap: 12px;
  border-radius: 8px;
  font-size: 12px;
  padding: 12px;
  font-weight: 500;
  background-color: hsla(197, 100%, 11%, 1);
  color: hsla(198, 100%, 96%, 1);
}

.first-warning,
.second-warning {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-time-container {
  display: flex;
  align-items: end;
  gap: 16px;
}

.input-time-container2 {
  display: flex;
  gap: 16px;
  align-items: center;
}

.button-mins {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.65);
}

.button-timer {
  padding: 14px 58px 14px 8px;
  border-radius: 16px;
  border: 1px solid hsla(180, 5%, 26%, 1);
  background-color: white;
}

.button-timer > div {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.inperson-virtual {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-left: 110px;
  width: 300px;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.naira-virtual > input,
.naira-inperson > input {
  background-color: white;
  width: 100px;
  padding: 14px 14px 14px 8px;
  border-radius: 16px;
  border: 1px solid hsla(180, 5%, 26%, 1);
}

.inperson-virtual > svg {
  margin-top: 40px;
}

.add-time-button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 1);
  background-color: white;
  border: 0;
}

.time-container {
  display: grid;
  gap: 24px;
}

.naira-virtual-inperson {
  display: flex;
  align-items: center;
  gap: 16px;
}

.add-time-slot {
  display: grid;
  gap: 24px;
}

.next {
  float: right;
  border: 0;
  padding: 12px 51px;
  border-radius: 16px;
  background-color: hsla(180, 100%, 40%, 1);
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.next:hover {
  background-color: hsla(180, 100%, 36%, 1);
}

.to-fro {
  margin-left: 150px;
  width: 280px;
}

.days-selection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 48px;
  align-items: center;
}

.day-checked-container {
  display: grid;
  gap: 24px;
}

.days-selection > div > div {
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
  color: hsla(180, 23%, 15%, 1);
}

.time-selection {
  display: flex;
  gap: 32px;
}

.checkbox {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid hsla(180, 11%, 89%, 1);
  width: 20px;
  border-radius: 4px;
  height: 20px;
  cursor: pointer;
}
.box {
  width: 15px;
  height: 15px;
}

.checkbox:checked {
  background-color: hsla(180, 100%, 40%, 1);
  border: 0;
}

.checkbox::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: 2px solid transparent;
  border-left: none;
  border-top: none;
  transform: rotate(45deg) scale(1);
}

.checkbox:checked::before {
  border-color: white;
}

input:checked + .toggle {
  background-color: hsla(180, 100%, 40%, 1);
}
input:checked + .toggle::before {
  transform: translateX(13px);
}

.check {
  display: none;
}

.select-time-container {
  transition: 0.4s;
  align-items: center;
  display: flex;
  gap: 8px;
  border: 1px solid hsla(180, 5%, 26%, 1);
  border-radius: 16px;
  justify-content: space-between;
  padding: 14px 44px 14px 8px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.transaction-time {
  position: absolute;
  left: 20px;
  width: 125px;
  border-radius: 8px;
  box-shadow: 0px 4px 7px 0px rgba(2, 3, 3, 0.04);
}

.menu-open {
  display: block;
  opacity: 1;
}

.booking-notice-appoint {
  display: grid;
  gap: 24px;
}

.booking-period,
.notice-period,
.appointment-buffer {
  display: grid;
  gap: 16px;
}

.p-booking,
.p-notice,
.p-appoint {
  display: grid;
  gap: 4px;
}
.p-booking span,
.p-notice span,
.p-appoint span {
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.p-booking p,
.p-notice p,
.p-appoint p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.65);
}

.booking-period button {
  padding: 16px 24px;
  background-color: white;
  border-radius: 16px;
  border: 1.5px solid hsla(180, 11%, 89%, 1);
}

.booking-month {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.65);
}

.buttons {
  display: flex;
  gap: 24px;
}

.buttons button {
  width: 240px;
  border-radius: 16px;
  padding: 16px 24px;
  background-color: white;
  border: 1.5px solid hsla(180, 11%, 89%, 1);
}

.cancel-done {
  display: flex;
  justify-content: end;
  gap: 24px;
}

.time-booking-period {
  display: grid;
  gap: 32px;
}

.cancel-time,
.done-time {
  padding: 12px 43px;
  height: 48px;
  border-radius: 16px;
  border: 1px solid hsla(180, 11%, 89%, 1);
  font-weight: 400;
  font-size: 16px;
  color: hsla(180, 23%, 15%, 0.8);
}

.done-time {
  background-color: hsla(180, 100%, 40%, 1);
  color: white;
}

.create-event-service {
  padding: 24px;
  background-color: white;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

.event-type {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.event-checkbox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.check-virtual,
.check-inperson {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.backEvent {
  background-color: #fff;
  border: 0;
  font-size: 20px;
}

.start-end-time {
  display: flex;
  justify-content: center;
  gap: 90x;
  margin-left: 20px;
}

.done-delete {
  background-color: hsla(0, 69%, 49%, 1);
}

.list-offers {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.list-offers > input {
  padding: 16px 24px;
  border-radius: 16px;
  border: 1px solid hsla(180, 11%, 89%, 1);
}

.list-number-of-offers {
  display: grid;
  gap: 24px;
}

.offers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circle-offer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: hsla(180, 100%, 36%, 1);
}

.circle-offer span {
  text-transform: capitalize;
}

.pricing-project {
  display: grid;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.nigeria-price {
  display: flex;
  gap: 24px;
}

.nigeria-price button {
  width: 136px;
  height: 56px;
  border-radius: 16px;
  border: 1px solid hsla(180, 11%, 89%, 1);
  background-color: white;
  padding: 16px;
}

.nigeria-down {
  display: flex;
  gap: 4px;
}

.ngn-down {
  display: flex;
  gap: 24px;
}

.nigeria-price input {
  padding: 16px 24px;
  width: 150px;
  border-radius: 16px;
  border: 1px solid hsla(180, 11%, 89%, 1);
}

.title-service {
  color: hsla(180, 23%, 15%, 1);
}

.title-p {
  text-align: center;
}

.card {
  background: linear-gradient(
    45deg,
    hsla(180, 100%, 40%, 1),
    hsla(180, 100%, 32%, 1)
  );
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 200px;
  border-radius: 16px;
  padding: 16px;
}

.card-svg {
  position: absolute;
  top: -35px;
  right: 0px;
}

.balance {
  display: flex;
  flex-direction: column;
  color: white;
}

.balance label {
  font-size: 14px;
  font-weight: 300;
}

.balance span {
  font-size: 24px;
  font-weight: 700;
}

.withdraw {
  font-size: 14px;
  font-weight: 200;
  color: hsla(0, 0%, 100%, 0.75);
  border-bottom: 1px solid white;
  position: relative;
}

.withdraw:hover {
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.filter-transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-transaction-status {
  display: grid;
  gap: 24px;
}

.transaction-text {
  font-size: 18px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.transaction-container {
  padding: 0px 24px;
  background-color: white;
}

.transaction-status {
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 12px;
  font-weight: 500;
  gap: 115px;
  color: hsla(180, 23%, 15%, 0.65);
}

.transaction-id,
.status-transaction,
.transaction-amount {
  font-size: 16px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 0.8);
}

.transaction-date {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 0.8);
}

.transaction-date label {
  font-size: 12px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.65);
}

.transaction-amount {
  display: flex;
  align-items: center;
  gap: 4px;
}

.credit {
  color: hsla(136, 53%, 52%, 1);
}

.debit {
  color: hsla(0, 69%, 49%, 1);
}

.transaction-amount label {
  display: flex;
  align-items: center;
}

.transaction-line hr,
.card-line hr {
  border: 1px solid hsla(180, 11%, 89%, 1);
}

.withdrawal-password {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.withdrawal-password input {
  width: 48px;
  height: 56px;
  border-radius: 4px;
  border: 1px solid hsla(180, 23%, 15%, 0.8);
}

.set-pin {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.set-pin span {
  font-size: 20px;
  font-weight: 600;

  color: hsla(180, 23%, 15%, 0.8);
}

.set-pin label {
  font-size: 16px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.65);
}

.set-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
}

.withdraw-svg {
  display: flex;
  justify-content: end;
}

.Next {
  height: 56px;
}

.saved-account {
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 160px 24px;
  gap: 32px;
}

.bank {
  display: grid;
  place-items: center;
  gap: 8px;
}

.saved-add-account {
  display: grid;
  place-items: center;
  gap: 16px;
}

.saved-add-account > span {
  font-size: 20px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 1);
}

.saved-add-account label {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  color: rgba(29, 46, 46, 0.8);
}

.saved-add-account label span {
  font-weight: 700;
}

.add-an-account {
  padding: 12px 73px;
  background-color: hsla(180, 100%, 40%, 1);
  border: 0;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.select-bank-container,
.account-container {
  display: grid;
  gap: 32px;
}

.select-bank {
  padding: 16px 24px;
  background-color: white;
  border-radius: 16px;
  border: 1.5px solid hsla(180, 11%, 89%, 1);
}

.input-bank {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-bank span {
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.input-bank input {
  padding: 16px 24px;
  background-color: white;
  border-radius: 16px;
  border: 1.5px solid hsla(180, 11%, 89%, 1);
}

.bookingsopen {
  position: absolute;
  border-radius: 8px;
  top: 240px;
  left: 400px;
}

/*Screen Resolution*/
@media only screen and (max-width: 900px) {
  .grid-container {
    display: none;
  }
}
