/** @format */

.event {
  display: grid;
  gap: 24px;
  margin: 25px;
  position: relative;
  top: 60px;
}

.time {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: hsla(180, 9%, 32%, 1);
  text-transform: lowercase;
  margin-top: 5px;
}

.time a label {
  cursor: pointer;
}

.time label {
  text-transform: capitalize;
}

.day {
  text-transform: capitalize;
}

.createservice {
  display: flex;
  flex-direction: column;
}

.createtimebased {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.createeventservice > img {
  border-radius: 16px;
  width: 440px;
  height: 390px;
}

.eventtype {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.eventcheckbox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.checkvirtual,
.checkinperson {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.backEvent {
  background-color: #fff;
  border: 0;
  font-size: 20px;
}

.checkbox {
  padding: 0;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid hsla(180, 11%, 89%, 1);
  width: 20px;
  border-radius: 4px;
  height: 20px;
  cursor: pointer;
}
.box {
  width: 15px;
  height: 15px;
}

.checkbox:checked {
  background-color: hsla(180, 100%, 40%, 1);
  border: 0;
}

.checkbox::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: 2px solid transparent;
  border-left: none;
  border-top: none;
  transform: rotate(45deg) scale(1);
}

.checkbox:checked::before {
  border-color: white;
}

.checkinperson input:checked + .toggle {
  background-color: hsla(180, 100%, 40%, 1);
}
input:checked + .toggle::before {
  transform: translateX(13px);
}
input[type="radio"]:checked {
  background-color: hsla(180, 100%, 40%, 1);
}

/*Ticket section*/

.ticket {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: -webkit-fill-available;
}

.ticketname {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tickettype,
.ticketevent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ticketevent > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.virtual div {
  display: flex;
  align-items: center;
  gap: 8px;
  width: -webkit-fill-available;
}

.virtual div > input {
  width: -webkit-fill-available;
}

.button {
  display: flex;
  justify-content: end;
}

.button button {
  padding: 8px 24px;
  border-radius: 8px;
  border: 0;
  background-color: hsla(0, 69%, 49%, 1);
  color: white;
  font-size: 16px;
}

/*Virtual styling*/
.virtual {
  display: flex;
  flex-direction: column;
  gap: 16px !important;
  align-items: baseline !important;
}

.regular,
.vip {
  padding: 16px 24px;
  border: 1.5px solid hsla(180, 11%, 89%, 1);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricingproject {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: baseline !important;
}

.pricingproject button {
  padding: 16px;
  background-color: transparent;
  border: 1px solid hsla(180, 11%, 89%, 1);
  border-radius: 16px;
  font-family: "Inter";
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.8);
}
