/** @format */

.timebased {
  display: grid;
  gap: 24px;
  margin: 25px;
  position: relative;
  top: 60px;
}

.timeback {
  display: flex;
  align-items: center;
  background-color: rgba(248, 250, 250, 1);
  border: 0;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.moredetails {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}

.morecontainer,
.quickcontainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: white;
  box-shadow: 0px 4px 7px 0px rgba(2, 3, 3, 0.04);
  border-radius: 8px;
  padding: 24px 24px 38px 24px;
}

.quickcontainer {
  height: fit-content;
  padding: 0;
}

.morecontainer img {
  width: 360px;
}

.text {
  width: 450px;
  font-weight: 400;
  font-size: 16px;
  color: hsla(180, 5%, 43%, 1);
}

.overallvector {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.vectordata {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;

  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.vectorretainer {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: hsla(180, 100%, 36%, 1);
}

.availability {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  color: hsla(39, 100%, 50%, 1);
}

.time {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  color: hsla(180, 9%, 32%, 1);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.text2 {
  width: auto;
}
.quickactioncontainer {
  padding: 0;
  gap: 0px;
}

.quickaction {
  display: grid;
}

.quickaction > label {
  padding: 24px 12px;
  font-size: 16px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.quickaction > hr {
  margin: 0;
  border: 1px solid hsla(180, 11%, 89%, 1);
}

.quickactiondetail {
  padding: 24px;
  font-size: 18px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.quickactiondetail > hr {
  width: -webkit-fill-available;
}

.settingsdetail {
  display: grid;
  padding: 0 24px;
}

.settingscontainer {
  display: flex;
  align-items: center;
  padding: 16px 70px 16px 0px;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.settingscontainer > svg:hover {
  color: hsla(180, 100%, 36%, 1);
}

.settingscontainer:hover {
  border-radius: 16px;
  border: 1.5px solid hsla(180, 100%, 36%, 1);
  color: hsla(180, 100%, 36%, 1);
}

.togglebutton {
  display: grid;
}

.toggle {
  background-color: #d2d2d2;
  width: 32px;
  height: 18px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: 0.4s;
}
.toggle::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 14px;
  height: 14px;
  border-radius: 200px;
  margin: 2px;
  transition: 0.4s;
}
input:checked + .toggle {
  background-color: hsla(180, 100%, 40%, 1);
}
input:checked + .toggle::before {
  transform: translateX(13px);
}
.suspend {
  display: flex;
  padding: 14px 14px 14px 0px;
  justify-content: space-between;
}

.suspenddiv {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contenttype {
  display: grid;
  gap: 24px;
}

.personalservice {
  display: grid;
  gap: 8px;
}

.personal {
  font-size: 20px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 1);
}

.serviceone {
  display: flex;
  flex-direction: row;
  gap: 8px;
  /* align-items: center; */
  font-size: 12px;
  font-weight: 500;
}

/*Retainer Service*/
.timebasedgridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.createtimebased {
  padding: 24px 24px 38px 24px;
  border-radius: 16px;
  background-color: white;
  display: flex;
  height: fit-content;
  flex-direction: column;
  gap: 32px;
}

.createtimeservice {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 600;
  color: hsla(197, 100%, 11%, 1);
}
.imgchoose img {
  width: 415px;
}

.imgchoose {
  margin: 0 auto;
}
.choose {
  /* position: absolute; */
  margin-top: -75px;
  /* margin-left: 220px; */
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: end;
}
.photo {
  display: none;
}

.gallery {
  background-color: hsla(0, 0%, 27%, 0.74);
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  width: fit-content;
}

.timechoosedaytime {
  border-radius: 16px;
  background-color: white;
  height: fit-content;
}
.timechoosedaytime > hr {
  margin: 0;
  border: 1px solid hsla(180, 11%, 89%, 1);
}

.listoffers {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.listoffers > input {
  padding: 16px 24px;
  border-radius: 16px;
  border: 1px solid hsla(180, 11%, 89%, 1);
}

.list {
  display: grid;
  gap: 24px;
}

.offers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circleoffer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: hsla(180, 100%, 36%, 1);
}

.circleoffer span {
  text-transform: capitalize;
}
