/** @format */

.retainer {
  display: grid;
  gap: 24px;
  margin: 25px;
  position: relative;
  top: 60px;
}

.retainerservice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.oneoffservice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: hsla(180, 23%, 15%, 1);
  font-weight: 600;
}
.numberofservice {
  display: flex;
  align-items: center;
  gap: 8px;
}

.number {
  font-size: 12px;
  padding: 2px 6px;
  color: hsla(180, 23%, 15%, 0.65);
  border: 1px solid hsla(180, 23%, 15%, 0.65);
  border-radius: 10px;
}

/* .addservice {
  display: flex;
  align-items: center;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter";
  border-bottom: 1.5px solid hsla(180, 100%, 40%, 1);
  background-color: hsla(180, 100%, 40%, 1);
  padding: 12px 16px;
  border-radius: 8px;
  color: hsla(180, 100%, 96%, 1);
} */

.eachretainercontainer {
  display: grid;
}

.retainercontainer {
  display: flex;
  width: -webkit-fill-available;
  gap: 24px;
  padding: 16px 24px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 7px 0px rgba(2, 3, 3, 0.05);
  justify-content: space-between;
}

.retainercontainer:hover {
  background-color: hsla(180, 12%, 95%, 1);
  cursor: pointer;
}

.titlecontainer {
  display: flex;
  gap: 24px;
  align-items: center;
}

.daystime {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  color: hsla(180, 9%, 32%, 1);
  width: max-content;
}
.dataretainer {
  display: grid;
  gap: 24px;
}

.daystimeline {
  display: flex;
  gap: 24px;
}

.linedays {
  width: 190px;
  margin: 0;
  border: 1px solid hsla(180, 11%, 89%, 1);
}

.containerline {
  border: 1px solid hsla(180, 11%, 89%, 1);
}
.personaltrainingdetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.personaltraining {
  display: flex;
}

.servicetype {
  color: hsla(180, 23%, 15%, 0.8);
}
.personal {
  font-size: 16px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.oneofftext {
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.text {
  width: 450px;
  font-weight: 400;
  font-size: 16px;
  color: hsla(180, 5%, 43%, 1);
}

.oneoffdetails {
  display: flex;
  transition: 0.4s ease-in-out;
  position: relative;
  height: fit-content;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  color: hsla(180, 100%, 40%, 1);
  border: 0;
  font-family: "Inter";
}
.contenttype {
  display: grid;
  gap: 48px;
}

.virtualinperson {
  display: flex;
  gap: 20px;
}

.radiovirtual {
  display: flex;
  gap: 24px;
}

.pricingamount {
  display: flex;
  justify-content: space-between;
}

input[type="radio"] {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.virtual,
.inperson {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

input[type="radio"]:checked {
  background-color: hsla(180, 23%, 15%, 1);
  cursor: pointer;
  accent-color: white;
}

.pricesession {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 24px;
  background-color: hsla(180, 17%, 98%, 1);
  border-radius: 8px;
  box-shadow: 0px 4px 7px 0px rgba(2, 3, 3, 0.05);
}

.virtualbg {
  background-color: hsla(180, 17%, 98%, 1);
  cursor: pointer;
  color: white;
  transition: 0.4s;
}

.inpersonbg {
  background-color: hsla(197, 100%, 11%, 1);
  cursor: pointer;
  color: white;
  transition: 0.4s;
}

.minsarrow svg {
  width: 24px;
  height: 24px;
}

/* .virtualbg .radiovirtual > div,
.virtualbg .pricingamount .pricing,
.virtualbg .pricingamount .pricing .minsarrow,
.virtualbg .pricingamount .pricing .minsarrow > svg,
.virtualbg .pricingamount .pricing .nairasession,
.virtualbg .pricingamount .nairasession > span {
  color: white;
} */

/* .virtualbg .pricingamount .pricing .minsarrow > svg,
.in-personbg .pricingamount .pricing .minsarrow > svg {
  background-color: white;
} */

/* .in-personbg .pricingamount .pricing .minsarrow,
.virtualbg .pricingamount .pricing .minsarrow {
  border-bottom: 1px solid white;
} */

.inpersonbg .radiovirtual > div,
.inpersonbg .pricingamount .pricing,
.inpersonbg .pricingamount .pricing .minsarrow,
.inpersonbg .pricingamount .pricing .nairasession,
.inpersonbg .pricingamount .nairasession > span {
  color: white;
}

.pricing {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 4px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.8);
}

.minsarrow {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 0;
  border-bottom: 1px solid hsla(180, 23%, 15%, 0.8);
  font-size: 12px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.8);
  font-family: "Inter";
}
.dropdown {
  position: relative;
}

.selectlist {
  transition: 0.4s;
  align-items: center;
  display: flex;
  gap: 8px;
}

.menu {
  list-style: none;
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  padding: 8px 0px 8px 0px;
  display: grid;
  gap: 4px;
  position: absolute;
  transition: 0.4s;
  z-index: 1;
  color: hsla(180, 23%, 15%, 0.8);
  margin: 0;
}

.menu li {
  padding: 8px 8px 8px 4px;
  cursor: pointer;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 1);
}

.menu li:hover {
  background-color: hsla(180, 17%, 98%, 1);
}

.nairasession {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.naira {
  font-size: 18px;
  font-weight: 600;
  color: hsla(197, 100%, 11%, 1);
}

.session {
  font-size: 12px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.65);
}

.mins {
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.virtual-arrow {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: underline;
  text-decoration-color: hsla(180, 23%, 15%, 1);
}

.virtualtext {
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}
