/** @format */

.viewer {
  display: flex;
  flex-direction: column;
  /* background-color: white; */
}

.container {
  padding: 0 40px;
  background-color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: white;
  padding: 16px 0;
}
.footer p {
  font-size: 12px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.65);
  margin: 0;
}

.footer img {
  width: 48px;
}
