/** @format */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 1.3s;
}
.quotepreview {
  position: relative;
  background: white;
  padding: 24px;
  border-radius: 16px;
  z-index: 1001;
  display: grid;
  width: 509px;
  height: 548px;
  overflow: scroll;
  transition: 0.6s ease-in-out;
}

.recordpreview {
  position: relative;
  background: white;
  padding: 24px;
  border-radius: 16px;
  z-index: 1001;
  display: grid;
  width: 509px;
  transition: 0.6s ease-in-out;
}

.quotepreview::-webkit-scrollbar {
  display: none;
}

.preview {
  overflow: scroll;
}

.preview::-webkit-scrollbar {
  display: none;
}

.quotesvg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0 16px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 0.8);
}

.recordsvg {
  display: flex;
  justify-content: space-between;
  padding: 0px 0 16px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 0.8);
}

.sendfrom {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 1);
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 13px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.quotedetail {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 0 16px;
  font-size: 14px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 1);
}

.service {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.service div,
.service2 div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service span,
.service2 span {
  color: hsla(180, 23%, 15%, 1);
}

.paid {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid hsla(136, 53%, 52%, 1);
  background-color: hsla(136, 52%, 96%, 1);
  font-size: 10px;
  font-weight: 500;
  color: hsla(136, 53%, 52%, 1);
}

.unpaid {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid hsla(0, 69%, 49%, 1);
  background-color: hsla(136, 52%, 96%, 1);
  font-size: 10px;
  font-weight: 500;
  color: hsla(0, 69%, 49%, 1) !important;
}

.sent {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: hsla(197, 100%, 11%, 1);
  text-transform: uppercase;
  color: White !important;
  font-size: 10px;
  font-weight: 500;
}

.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 16px;
  font-size: 14px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 0.8);
}

.service2 {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.note {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 1);
  padding: 16px 0;
}

.payment {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.bankcopy {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.bank {
  display: flex;
  gap: 24px;
  align-items: center;
}
.bank svg {
  margin-left: 0;
}

.bank div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
  color: hsla(180, 23%, 15%, 0.8);
}

.bank label {
  font-size: 16px;
  color: hsla(180, 23%, 15%, 1);
}

.paymentcontainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.convert {
  padding: 8px 170px;
  border-radius: 8px;
  background-color: hsla(180, 100%, 40%, 1);
  border: 0;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.invoicenumber {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
}

.invoicenumber > span {
  font-size: 14px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 1);
}

.number {
  display: flex;
  align-items: center;
  gap: 8px;
}

.number div {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 12px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 1);
}

.number input {
  border: 1.5px solid hsla(180, 11%, 89%, 1);
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
  padding: 16px;
  border-radius: 16px;
  width: -webkit-fill-available;
}

.card {
  padding: 16px;
  border-radius: 16px;
  border: 1.5px solid hsla(180, 11%, 89%, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 1);
}

.cancelsubmit {
  display: flex;
  margin-top: 32px;
  gap: 16px;
  justify-content: end;
}

.canceltime {
  padding: 8px 34px;
  border: 1px solid hsla(180, 23%, 15%, 0.8);
  font-size: 16px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
  background-color: transparent;
  border-radius: 8px;
}

.donetime {
  border-radius: 8px;
  border: none;
  font-weight: 500;
  background-color: hsla(180, 100%, 40%, 1);
  color: white;
  padding: 8px 34px;
  font-size: 16px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: -webkit-fill-available;
  box-shadow: 0px 4px 7px hsla(208, 32%, 1%, 0.04);
  padding: 16px;
  gap: 16px;
  margin-top: 80px;
  font-size: 14px !important;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.8);
}

.dropdown span {
  cursor: pointer;
}

.donetime:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}

.services div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services div label {
  font-size: 12px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.services div span {
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.h3 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.h3 h3 {
  border-bottom: 1px solid hsla(180, 11%, 89%, 1);
  padding: 8px 0;
  margin: 0;
  font-size: 13px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 0.8);
}
