/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  background-color: rgba(248, 250, 250, 1);
  font-family: "Inter";
  height: 100vh;
}

.Toastify__progress-bar--success {
  background-color: hsla(180, 100%, 40%, 1) !important;
}

.Toastify__toast-icon svg {
  fill: hsla(180, 100%, 40%, 1) !important;
}

.Toastify__toast {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 8px !important;
  top: 15px !important;
  font-family: "Inter" !important;
  width: fit-content;
  text-align: center !important;
}

a {
  text-decoration: none;
  color: currentColor;
  /* width: -webkit-fill-available; */
  /* width: fit-content; */
}

body::-webkit-scrollbar {
  display: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

.profiledashboard {
  position: absolute;
  left: 290px;
  width: -webkit-fill-available;
}

.profile-details {
  transition: opacity 0.4s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

input,
textarea {
  font-family: "Inter";
  font-size: 14px;
  color: hsla(197, 100%, 11%, 1);
}

textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
  font-family: "Inter";
}

input:focus {
  outline: none;
}

hr {
  margin: 0;
}

svg {
  cursor: pointer;
}

textarea {
  margin-bottom: 20px;
}

/*Sidebar and Profile styling*/
.grid-container {
  display: grid;

  grid-template-columns: 1fr 13fr;
}
.profiledropdown {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlaydropdown {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 1.3s;
}

.add-service {
  display: flex;
  align-items: center;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter";
  border-bottom: 1.5px solid hsla(180, 100%, 40%, 1);
  background-color: hsla(180, 100%, 40%, 1);
  padding: 12px 16px;
  border-radius: 8px;
}

.addservice {
  color: hsla(180, 100%, 96%, 1);
}

.type-of-service {
  background-color: white;
  padding: 24px 16px 12px 16px;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 1000;
  flex-direction: column;
  gap: 12px;
  border-radius: 8px;
}

.type-of-service > ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  color: hsla(180, 23%, 15%, 1);
}

.dropdown-service > li {
  padding: 12px 120px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 1);
}

.alltime-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.oneoff-service {
  padding: 12px 120px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 1);
}

/* .oneoff-service:hover {
  background-color: hsla(180, 17%, 98%, 1);
  border-radius: 8px;
} */

.alltime-container {
  padding: 12px 12px 12px 16px;
  font-weight: 400;
  font-size: 16px;
}

.alltime-container:hover {
  background-color: hsla(180, 17%, 98%, 1);
  border-radius: 8px;
}

.time-project-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.project-based {
  border: 1px solid hsla(180, 11%, 89%, 1);
  background-color: white;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
  padding: 12px;
  color: hsla(180, 23%, 15%, 1);
}

.project-based:hover {
  background-color: hsla(180, 17%, 98%, 1);
}

.eacheventcontainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}

.personal1 {
  font-size: 16px;
  font-weight: 700;
  color: hsla(180, 100%, 40%, 1);
}

.textvector {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.textvector1 {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.cancel-title {
  display: grid;
  place-items: center;
}

.cancel-container {
  display: grid;
  gap: 48px;
}

.cancel-image-share {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cancel-text-share {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cancel-text-share > span {
  font-size: 24px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.cancel-text-share > label {
  font-size: 16px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 0.8);
}

.cancel-container > p {
  width: 461px;
  font-weight: 400;
  color: hsla(180, 23%, 15%, 1);
}

.reason-for-cancelling {
  display: flex;

  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.reason-for-cancelling > textarea {
  width: 461px;
  border-radius: 16px;
  border: 1px solid hsla(180, 11%, 89%, 1);
  height: 88px;
}

.do-not-cancel {
  padding: 12px 28px;
  border-radius: 16px;
  background-color: white;
  color: hsla(180, 23%, 15%, 1);
  border: 1px solid hsla(180, 23%, 15%, 1);
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter";
}

.do-cancel {
  padding: 12px 53px;
  border-radius: 16px;
  background-color: hsla(0, 69%, 49%, 1);
  color: hsla(198, 100%, 96%, 1);
  border: 0;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter";
}

.status {
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  color: hsla(37, 96%, 61%, 1);
}

.popupcancel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.1);
}
.overlay,
.overlayshare {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 1.3s;
}

.body-modal,
.sharedropdown,
.withdrawpin,
.bookingsopen {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 16px;
  z-index: 1001;
  display: grid;
  gap: 32px;
}

.withdrawpin {
  width: 509px;

  transition: 0.6s ease-in-out;
}

.sharedropdown {
  width: 720px;
}

.warning-container {
  display: grid;
  gap: 12px;
  border-radius: 8px;
  font-size: 12px;
  padding: 12px;
  font-weight: 500;
  background-color: hsla(197, 100%, 11%, 1);
  color: hsla(198, 100%, 96%, 1);
}

.first-warning,
.second-warning {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button-mins {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.65);
}

.button-timer {
  padding: 14px 58px 14px 8px;
  border-radius: 16px;
  border: 1px solid hsla(180, 5%, 26%, 1);
  background-color: white;
}

.button-timer > div {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.inperson-virtual {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-left: 110px;
  width: 300px;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.time-container {
  display: grid;
  gap: 24px;
}

.add-time-slot {
  display: grid;
  gap: 24px;
}

.next {
  float: right;
  border: 0;
  padding: 12px 51px;
  border-radius: 16px;
  background-color: hsla(180, 100%, 40%, 1);
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.next:hover {
  background-color: hsla(180, 100%, 36%, 1);
}

.to-fro {
  margin-left: 150px;
  width: 280px;
}

.days-selection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 48px;
  align-items: center;
}

.day-checked-container {
  display: grid;
  gap: 24px;
}

.days-selection > div > div {
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
  color: hsla(180, 23%, 15%, 1);
}

.time-selection {
  display: flex;
  gap: 32px;
}

.checkbox {
  padding: 0;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid hsla(180, 11%, 89%, 1);
  width: 20px;
  border-radius: 4px;
  height: 20px;
  cursor: pointer;
}
.box {
  width: 15px;
  height: 15px;
}

.checkbox:checked {
  background-color: hsla(180, 100%, 40%, 1);
  border: 0;
}

.checkbox::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: 2px solid transparent;
  border-left: none;
  border-top: none;
  transform: rotate(45deg) scale(1);
}

.checkbox:checked::before {
  border-color: white;
}

input:checked + .toggle {
  background-color: hsla(180, 100%, 40%, 1);
}
input:checked + .toggle::before {
  transform: translateX(13px);
}

.check {
  display: none;
}

.select-time-container {
  transition: 0.4s;
  align-items: center;
  display: flex;
  gap: 8px;
  border: 1px solid hsla(180, 5%, 26%, 1);
  border-radius: 16px;
  justify-content: space-between;
  padding: 14px 44px 14px 8px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.menu-open {
  display: block;
  opacity: 1;
}

.time-based {
  border: 1px solid hsla(180, 11%, 89%, 1);
  background-color: white;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
  padding: 12px;
  color: hsla(180, 23%, 15%, 1);
}
.time-based:hover {
  background-color: hsla(180, 17%, 98%, 1);
}

.cancel-done {
  display: flex;
  justify-content: end;
  gap: 24px;
}

.cancel-time,
.done-time {
  padding: 12px 43px;
  height: 48px;
  border-radius: 16px;
  border: 1px solid hsla(180, 11%, 89%, 1);
  font-weight: 400;
  font-size: 16px;
  color: hsla(180, 23%, 15%, 0.8);
}

.done-time {
  background-color: hsla(180, 100%, 40%, 1);
  color: white;
}

.title-p {
  text-align: center;
}

.add-an-account {
  padding: 12px 73px;
  background-color: hsla(180, 100%, 40%, 1);
  border: 0;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.account-container {
  display: grid;
  gap: 32px;
}

.bookingsopen {
  position: absolute;
  border-radius: 8px;
  top: 240px;
  left: 400px;
}

/*Screen Resolution*/
@media only screen and (max-width: 900px) {
  .grid-container {
    display: none;
  }

  /* body {
    background-color: white;
  } */

  .profiledashboard {
    left: 0;
  }
}
