/** @format */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 1.3s;
}

.createnew {
  display: flex;
  align-items: center;
  border: 0;
  background-color: hsla(180, 100%, 40%, 1);
  border-radius: 8px;
  padding: 12px 16px;
  cursor: pointer;
  gap: 8px;
  cursor: pointer;
}

.createnew:hover {
  background-color: hsla(180, 100%, 36%, 1);
}

.createnew > label {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter";
  color: white;
  cursor: pointer;
}

/** @format */

.contact {
  display: grid;
  gap: 40px;
  margin: 25px;
  position: relative;
  top: 80px;
}

.addcontacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addcontacts > label {
  font-size: 20px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.addcontact {
  display: flex;
  align-items: center;
  border: 0;
  background-color: hsla(180, 100%, 40%, 1);
  border-radius: 8px;
  padding: 12px 16px;
  cursor: pointer;
}

.addcontact > label {
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter";
  color: hsla(180, 100%, 96%, 1);
}

.order {
  display: flex;
  align-items: center;
  gap: 24px;
}

.ordersvg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background-color: white;
}

.savedaccount {
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 160px 24px;
  gap: 32px;
}

.bank {
  display: grid;
  place-items: center;
  gap: 24px;
}

.savedaddaccount {
  display: grid;
  place-items: center;
  gap: 16px;
}

.savedaddaccount > span {
  font-size: 20px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 1);
}

.savedaddaccount label {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  color: rgba(29, 46, 46, 0.8);
}

.addanaccount {
  padding: 12px 73px;
  background-color: hsla(180, 100%, 40%, 1);
  border: 0;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.addanaccount:hover {
  background-color: hsla(180, 100%, 36%, 1);
}

.delete {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
  position: relative;
  background: white;
  padding: 24px;
  border-radius: 16px;
  z-index: 1001;
  /* width: 500px; */
  font-weight: 500;
  color: hsla(180, 23%, 15%, 0.8);
}

.quotes {
  display: grid;
  gap: 40px;
  margin: 25px;
  position: relative;
  top: 80px;
}

.createquote {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quotesvg {
  display: flex;
  align-items: center;
  gap: 8px;
}

.quotesvg > label {
  font-size: 20px;
  font-weight: 500;
  color: hsla(180, 23%, 15%, 1);
}

.quotecontainer {
  background-color: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.float {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: end;
}

.quotestatus {
  display: flex;
  border: 1px solid hsla(180, 23%, 15%, 0.65);
  padding: 4px 4px 3px 4px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 0.65);
}

.sent {
  padding: 8px 24px;
}

.sent:hover,
.draft:hover {
  padding: 8px 24px;
  background-color: hsla(197, 100%, 11%, 1);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.draft {
  padding: 8px 24px;
  /* background-color: hsla(197, 100%, 11%, 1); */
  border-radius: 8px;
}

.quoteday {
  display: flex;
  align-items: center;
  gap: 64px;
  border: 1px solid hsla(180, 23%, 15%, 0.65);
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 0.65);
}

.cardline hr,
.transactionline hr {
  border: 1px solid hsla(180, 11%, 89%, 1);
}

.statuscontainer,
.transactionstatus {
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: 12px;
  font-weight: 500;
  /* gap: 105px; */
  color: hsla(180, 23%, 15%, 0.65);
}

/* .transactionstatus {
  gap: 90px;
  padding: 16px 24px;
} */

.transactionstatus svg {
  margin-left: 80px;
}

.transactionid,
.transactionname,
.transactiondate,
.transactionamount {
  font-size: 14px;
  font-weight: 600;
  color: hsla(180, 23%, 15%, 0.8);
}

.lists {
  padding: 16px;
  margin: 0;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0px 4px 7px 4px rgba(2, 3, 3, 0.04);
  border-radius: 4px;
  color: hsla(180, 23%, 15%, 1);
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  list-style: none;
  margin-top: 30px;
}

.lists li {
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 1.3s;
}

.canceltime,
.donetime {
  padding: 8px 34px;
  height: 40px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid hsla(180, 23%, 15%, 0.8);
  font-weight: 600;
  font-size: 16px;
  color: hsla(180, 23%, 15%, 0.8);
}

.donetime {
  background-color: hsla(0, 69%, 49%, 1);
  color: white;
  border: 0;
}
.cancelsubmit {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
